extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.fround() is applied to #{num1} is #{fround}
  p Math.random() is applied to #{num2} is #{random}
  p Math.round() is applied to #{num3} is #{round}